<mdl-layout [headerTitle]="'My App'" [drawerTitle]="'Links'">
  
  <mdl-logout-button header-buttons></mdl-logout-button>
  
  <a drawer-navigation class="mdl-navigation__link" href="/nodes">Nodes</a>

    <list  #parentList main-content (onNavigate)="navigate($event)">
      <breadcrumb [relativePath]="parentList.options.relativePath" (onRelativePath)="parentList.setRelativePath($event)"></breadcrumb>
      <!--<toolbar [list]="data.list" (onBack)="pageBack($event)" (onForward)="pageForward($event)"></toolbar> -->
      
      <listview [list]="parentList.data.list" (onNavigate)="parentList.navigate($event)"></listview>

      <mdl-table-view [list]="parentList.data.list">
          <mdl-table-heading head>ID</mdl-table-heading>
          <mdl-table-heading head>Name</mdl-table-heading>
          
          <template let-item="$implicit">
            <tr>
              <mdl-table-cell [item]="item"></mdl-table-cell>
              <mdl-table-cell [item]="item"></mdl-table-cell>
            </tr>
          </template>



      </mdl-table-view>
    </list>
</mdl-layout>
