<mdl-layout [headerTitle]="'My App'" [drawerTitle]="'Links'">
  
  <mdl-logout-button header-buttons></mdl-logout-button>
  
  <a drawer-navigation class="mdl-navigation__link" href="/nodes">Nodes</a>

    <list  #parentList main-content (onNavigate)="navigate($event)">
      <breadcrumb [relativePath]="parentList.options.relativePath" (onRelativePath)="parentList.setRelativePath($event)"></breadcrumb>
      <!--<toolbar [list]="data.list" (onBack)="pageBack($event)" (onForward)="pageForward($event)"></toolbar> -->
      
      <listview [list]="parentList.data.list" (onNavigate)="parentList.navigate($event)"></listview>

      <table-view [list]="parentList.data.list">


          <template let-item="$implicit">
            <tr>
              <table-cell [item]="item"></table-cell>
            </tr>
          </template>
      </table-view>
    </list>
</mdl-layout>
